/* Reset de estilos para quitar márgenes y rellenos predeterminados */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos generales del cuerpo de la página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #e26060;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(247, 133, 133, 0.1);
}

h1 {
    font-size: 36px;
    font-family: 'Pacifico', cursive;
}

/* Estilos de la barra de navegación */
nav {
    background-color: #d36c6c;
    color: #fff;
    text-align: center;
    font-family: 'Playfair Display', serif; /* Cambia la fuente de la barra de navegación a Playfair Display */
}


ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    margin: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: 'Verdana', sans-serif; /* Cambia la fuente de los enlaces a Verdana */
}

/* Estilos del contenido principal */
main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #e9dede;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 24px;
    font-family: 'Georgia', serif; /* Cambia la fuente de h2 a Georgia */
    margin-top: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    font-family: 'Times New Roman', serif; /* Cambia la fuente de los párrafos a Times New Roman */
}

ul {
    font-size: 16px;
    font-family: 'Courier New', monospace; /* Cambia la fuente de las listas a Courier New */
}

/* Estilos del pie de página */
footer {
    background-color: #d36c6c;
    color: #fff;
    text-align: center;
    padding: 10px;
}
